.vol-card {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  gap: 12px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  

  mat-icon {
    font-size: 20px;
    color: #333;
  }
  p{
    font-weight: 500;
    color: #333;
  }
  .logo {
    height: 20px;
    margin-left: auto;
  }
}