<!-- Affichage d'un vol -->

@if(vol != null){
  <div class="vol-card">
    <div class="vol-section icon">
      <mat-icon>{{ type === 'decollages' ? 'flight_takeoff' : 'flight_land' }}</mat-icon>
    </div>
    <div class="vol-section">{{ vol.icao }}</div>
    <div class="vol-section">{{ vol.matricule }}</div>
    <div class="vol-section">{{ vol.aeroportDepart }}</div>
    <div class="vol-section icon">
      <mat-icon>arrow_right_alt</mat-icon>
    </div>
    <div class="vol-section">{{ vol.aeroportArrivee || 'Inconnu' }}</div>
    <div class="vol-section logo-container">
      <img src="assets/{{ vol.compagnie }}.png" alt="{{ vol.compagnie }}" class="logo" />
    </div>
  </div>
}