.passager-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 6px 12px;
  gap: 12px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  mat-icon {
    font-size: 20px;
    color: #333;
  }
  
  .photo-passager {
    height: 45px;
  }
}

.bagages-soute{
    display: flex;
    align-items: center;
}

.STANDARD{
  color: blue;
}
.PREMIUM{
  color: green;
}
.BUSINESS{
  color: red;
}

.exces-bagage{
  background-color: rgb(210, 63, 63);
  color: white;
}

 